<!DOCTYPE html>
<html lang="en">

<head>
  <title>Data Analytics Ireland</title>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src ="{{url_for('static', filename='app.js')}}"></script>
</head>
<body>
  <div id="upload">
    <form enctype = "multipart/form-data" onsubmit="return false;">
      <input id="file" type="file" name="static_file" />
      <button id="upload-button" onclick="uploadFile(this.form)">Upload</button>
    </form>
    <div id="static_file_response"></div>
  </div>
  
  <div><img src="/test"></img></div>
  <form action="/run" method="post">
    <button type="submit">start</button>
  </form>
  <p id="resBtnHere"></p>

</body>
</html>
  <!--
 <div id="static_file_response"> </div>

 <script type="text/javascript" src="/static/app.js"></script>
 </script>
   <script type="text/javascript" src ="{{url_for('static', filename='plot.js')}}"></script>

-->
