<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ironman Day3</title>
</head>
<body>
    <img src="/static/images/active_date.png" alt="test">
    <img src="{{ image }}" alt="image">
    <img src="{{ image2 }}" alt="image2">
    <img src="{{ image3 }}" alt="image3">
    <img src="{{ image4 }}" alt="image4">
    <img src="{{ image5}}" alt="image5">
    <img src="{{ image6 }}" alt="image6">
    <img src="{{ image7}}" alt="image7">
    <img src="{{ image8 }}" alt="image8">
    <img src="{{ image9}}" alt="image9">
    <img src="{{ image10 }}" alt="image10">
</body>
</html>